<div class="row mx-auto justify-content-center align-items-center"  style="margin-top: 7%">
  <div class="col-xs-12 text-center">
    <h1>Minhas listas</h1>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="list-group">
    <%= if current_user.lists.length >= 5
          link_to 'Atingiu o número maximo', '#', class: 'btn btn-info'
        else
          link_to 'Nova Lista', new_list_path(current_user), class: 'btn btn-success'     
    end%>
      <ul class="list-group">
      <% @lists.each do |l| %>
          <li class="list-group-item d-flex justify-content-between align-items-center" style='margin-top: 10px'>
            <%= link_to l.name, list_tasks_path(l), class: 'list-group-item list-group-item-action' %>
            <%= link_to 'Editar', edit_list_path(l), class: 'btn btn-warning' %>
            <%= link_to 'Excluir', l, method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja excluir?'} %>
            <span class="badge badge-secondary badge-pill">14</span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>